<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Businesses</title>
    </head>
    <body>
        {% extends "landingpage.html" %}
        <!-- freetibet.html -->
        {% block title %}
        Search | Learn about local businesses
        {% endblock %}
        {% block content %}Businesses{% endblock %}

        {% block body %}

        <section class="module parallax parallax-1">
  <div class="container">
    <!-- <h1>Tibet</h1> -->
    <iframe width="853" height="480" src="//www.youtube.com/embed/yXRBnnOyn1w" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Do Kham</h2>
    <p></p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
   <!--  <h1>Rise</h1> -->
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2><a href="http://www.gatewaytotibet.com/about/">Gateway to Tibet</a></h2>
    <p>Displays the artwork of Elizabeth Esther Kelly, a practicing Buddhist. She also has a <a href="http://www.gatewaytotibet.blogspot.com/">blog</a> in which she shares her journey.  </p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <!-- <h1>Calm</h1> -->
    <iframe src="//player.vimeo.com/video/29033254" width="800" height="455" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p class="centerText"><a href="http://vimeo.com/29033254">A Free Tibet</a> from <a href="http://vimeo.com/sunnyzorawar">sunny zorawar</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Free Tibet</h2>
    <p>This short film is directed and edited by Sunny Zorawar and the background score is written by Robert J. P. Oberg. In just over five minutes, Sunny brings to light some of the most significant issues being faced in Tibet. In the first interview, a man explains the struggle of choosing to send one's child away to a foreign country in hopes of helping their children find a better education and freedom. With 31 likes as of December 15, this video has put faces and personal stories to the issues of Tibet. </p>
  </div>
</section>
<section class="module parallax parllax-4">
    <div class="container">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/saveTibet" data-widget-id="544682665254068224">#saveTibet Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</section>
<section class="module content">
    <div class="container">
    <h2>#saveTibet</h2>
    <p>This is one of a number of trending hashtags on twitter that allow people to share support in saving Tibet. </p>
    </div>
</section>
        {% endblock %}
    </body>
</html>