<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Forum</title>
    </head>
    <body>
        {% extends "landingpage.html" %}
        <!-- freetibet.html -->
        {% block title %}
        Search | Learn about local businesses
        {% endblock %}
        {% block content %}Forum{% endblock %}

        {% block body %}

        <section class="module parallax parallax-1">
  <div class="container">
    <!-- <h1>Tibet</h1> -->
    <iframe width="853" height="480" src="//www.youtube.com/embed/yXRBnnOyn1w" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Seven Days in Tibet</h2>
    <p>French 24, a news website reported on the conditions in Tibet in 2013. On the comments on the video, posted on YouTube, it states "FRANCE 24 reporter Cyril Payen has been subjected to "mafia"-style intimidation from Chinese diplomats angered by an under-cover report he filmed in Tibet." Following this incident, the reports were also shared on <a href="http://www.phayul.com/news/article.aspx?id=33579">Phayul.com</a>, a website used to connect Tibetans in exile. With over 155 likes on Facebook, the article on Phayul was shared </p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
   <!--  <h1>Rise</h1> -->
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <!-- <h1>Calm</h1> -->
    <iframe src="//player.vimeo.com/video/29033254" width="800" height="455" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p class="centerText"><a href="http://vimeo.com/29033254">A Free Tibet</a> from <a href="http://vimeo.com/sunnyzorawar">sunny zorawar</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Free Tibet</h2>
    <p>This short film is directed and edited by Sunny Zorawar and the background score is written by Robert J. P. Oberg. In just over five minutes, Sunny brings to light some of the most significant issues being faced in Tibet. In the first interview, a man explains the struggle of choosing to send one's child away to a foreign country in hopes of helping their children find a better education and freedom. With 31 likes as of December 15, this video has put faces and personal stories to the issues of Tibet. </p>
  </div>
</section>
<section class="module parallax parllax-4">
    <div class="container">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/saveTibet" data-widget-id="544682665254068224">#saveTibet Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</section>
<section class="module content">
    <div class="container">
    <h2>#saveTibet</h2>
    <p>This is one of a number of trending hashtags on twitter that allow people to share support in saving Tibet. </p>
    </div>
</section>
        {% endblock %}
    </body>
</html>