<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Forum</title>
         <link rel="stylesheet" 
      type="text/css" 
      href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    <body>
        {% extends "landingpage.html" %}
        <!-- freetibet.html -->
        {% block title %}
        Forum | Learn about local businesses
        {% endblock %}
        {% block content %}Forum{% endblock %}

        {% block body %}


        <section class="module parallax parallax-1">
  <div class="container">
    <!-- <h1>Tibet</h1> -->
    <iframe width="853" height="480" src="//www.youtube.com/embed/yXRBnnOyn1w" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="module content">
  <div class="container">
  <p>Below is a forum on Social Media in Tibet. This forum is intended to allow people to reflect on the way that social might is used to help connect Tibetans in exile with the fight for independence in Tibet, for example. Social Media connects people around the globe and brings to light the issues of individuals.</p>
<a class="muut" href="https://muut.com/i/socialmediatibet">socialmediatibet forum</a>
<script src="//cdn.muut.com/1/moot.min.js"></script>
<p>If the forum above is not loading properly, please visit this <a href="muut.com/socialmediatibet">link</a>.
  </div>
</section>
        {% endblock %}
    </body>
</html>
