<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tibet</title>
    </head>
    <body>
        {% extends "landingpage.html" %}
        <!-- freetibet.html -->
        {% block title %}
        Search | Learn about local businesses
        {% endblock %}

        {% block body %}
<!--         <div class="row">
            <div class="large-12 columns">
                <div clas="panel">
                    <h1>Search</h1>
                    <form action="/search" method="post">
                        <div class="row">
                            <div class="small-10 columns">
                                <input type="text" placeholder="Search for your idea" name="user_search" required/>
                            </div>
                            <div class="small-2 columns">
                                <button class="postfix"  type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                    {% block results %}{% endblock %}
                </div>
            </div>
        </div> -->

        <section class="module parallax parallax-1">
  <div class="container">
    <h1>Tibet</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2><a href="{{ url_for('freetibet_page') }}">Free Tibet</a></h2>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
   <!--  <h1>Rise</h1> -->
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2><a href="{{ url_for('cuisine_page') }}">Tibetan Cuisine</a></h2>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <!-- <h1>Calm</h1> -->
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Support for Tibet</h2>
  </div>
</section>
        {% endblock %}
    </body>
</html>